.modal {
  background: white;
  width:40%;
  margin-left: 30%;
  margin-top:5%;
  overflow:scroll;
  height:auto;
}
.modal-dialog {
  margin:0;
  padding:1%;
  height:auto;
}

@media only screen and (max-width: 1024px) {

}