.modal-header{
    border:none
}
@media (min-width: 576px) {
    .modal-dialog { max-width: none; }
}
.modal-dialog {
  -webkit-animation-name: example;
  width: 80%;
  height: 92%;
  padding: 0;
}
.modal-content {
  height: 99%;
  overflow: scroll;
}
@-webkit-keyframes example {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* ipad pro */
@media only screen and (max-width: 1024px) {
  .modal-dialog{
    margin-top:6%;
  }
}

@media only screen and (max-width: 576px) {
  .modal-dialog{
      margin-left:2%;
  }
}

/* iphone 6/7/8 plus */
@media only screen and (max-width: 414px) {
  .modal-dialog{
    margin-top:8%;
    margin-left:10%;
  }
}



