.modal {
  background: white;
  width:40%;
  margin-left: 30%;
  margin-top:5%;
  /* height:585px; */
  overflow:scroll;
  height:auto;
}
.modal-dialog {
  margin:0;
  padding:1%;
  /* padding:0; */
  height:auto;
}