.intro {
    margin-top:13%;
    font-size: 40px;
}
.btn {
    height:50px;
    width:150px;
    margin-right:6%;
    margin-left:6%;
    margin-top:5%;
    font-size:15px;
    border:solid 3px rgb(194, 184, 184);
}
button:hover {
    background: rgb(194, 184, 184);
}
.close {
    float:right;
}
.login{
    margin-left:20%;
}

/* About page */
.about {
    text-align: left
}
#title{
    font-size:50px;
}
#highlight {
    font-size:50px;
    text-align: center;
}
#linkedin, #github{
    width:25px; 
    margin-right:5px;
}
#portfolio {
    width:35px; 
    margin-right:5px;
    margin-left:44.5%;
}
