/* LoginPage */
.intro {
    margin-top:2%;
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
}

#appName{
    color: rgb(198, 23, 174);
    font-size:45px;
}
.btn {
    height:50px;
    width:150px;
    margin-right:6%;
    margin-left:6%;
    margin-top:1%;
    margin-bottom:0;
    font-size:15px;
    border:solid 3px rgb(194, 184, 184);
    font-family: 'Inconsolata', monospace;
}
button:hover {
    background: rgb(194, 184, 184);
}
.close {
    float:right;
}
.login{
    margin-left:20%;
}
#signup,.form-label,#signin{
    font-family: 'Inconsolata', monospace;
}
.login,.signup{
    margin: -20px -70px; 
    position:relative;
    top:50%; 
    left:50%;   
}

/* About page */
.about {
    text-align: left
}
#title{
    font-size:50px;
    color: rgb(198, 23, 174);
    font-family: 'Inconsolata', monospace;
}
#highlight {
    font-size:50px;
    text-align: center;
    color: rgb(198, 23, 174);
    font-family: 'Inconsolata', monospace;
}
#linkedin, #github{
    width:25px; 
    margin-right:5px;
}
#portfolio {
    width:35px; 
    margin-right:5px;
    margin-left:44.5%;
}
