.container{
    background:white;
    clear:both;
    text-align:center;
    overflow:scroll;
    height:550px;
    width:80%;
    margin-top:100px;
    margin-left:150px;
    padding:5%;
}

/* ipad pro */ 
@media only screen and (max-width: 1024px) {
    .container{
      margin-left:100px;
      height:1000px; 
    }
}
/* ipad */
@media only screen and (max-width: 768px) {
    .container{
        margin-left:125px;
    }
}

/* ipad */
@media only screen and (max-width: 414px) {
    .container{
      height:1400px; 
    }
}