
* {
    margin: 0;
    padding: 0;
  }
      
  #backgroundContainer {
    overflow: hidden;
    height:40%;
    width:100%;
    /* position: relative; */
    /* object-fit: cover; */
  }
      
  video {
    position: absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    left:50%; top: 50%;
    transform: translate(-50%, -50%);
  }
  #root{
    z-index: 2;
    position: relative;
  }
      
  